@import "tailwindcss";

@theme {
  --font-old-standard: var(--font-old-standard);
  --color-primary: #585CA6;
  --color-primary-hover: #383F92;
  --color-text-black: #020817;
  --font-open-sans: var(--font-open-sans);
}
